*{
    padding: 0%;
    margin: 0%;
   
}
.inputxt{
    margin-top: 25px;
    margin-left: 100px;
}
header{
    background-color: #BBB6B6;
    display: flex;
}
header::after{
    left:235px;
    top: 28px;
    height: 34px;
    width: 1px;
    content: "";
    background-size: cover;
    background-color: black;
    position: absolute;
}
header::before{
    left:202px;
    top: 30px;
    height: 30px;
    width: 30px;
    content: "";
    background-size: cover;
    background-image: url(lupa-arredondada.png);
    position: absolute;
}
input{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
}
.logo{
    height: 100px;
    width: 100px;
}
.imgfale{
    height: 100px;
}
.divfale{
    padding-left: 550px;
    padding-top: 50px;
}
main{
    gap: 80px;
    height: 70vh;
    display: flex;
    padding-top: 50px;
    padding-left: 450px;
    padding-top: 100px;
}
.imgquem{
    height: 50px;
    margin-left: 550px;
    margin-bottom: 35px;
}
.txt{
    height: 650px;
    padding-left: 400px;
}
section::after{content: "";
    right: 860px;
    top:260px;
    background-color: black;
    width: 500px;
    position: absolute;
    height: 5px;
}
footer{
    background-color: whitesmoke;
    flex-wrap: nowrap;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 15px;
}
.contato{
    text-align: center;
}
.imgcontato{
    height: 50px;
}